/* @import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans&display=swap"); */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --Orange: hsl(26, 100%, 55%);
  --Pale-orange: hsl(25, 100%, 94%);
  --Very-dark-blue: hsl(220, 13%, 13%);
  --Dark-grayish-blue: hsl(219, 9%, 45%);
  --Grayish-blue: hsl(220, 14%, 75%);
  --Light-grayish-blue: hsl(223, 64%, 98%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 0%);
}

/* General Styling */
body {
  min-height: 100vh;
  margin-inline: 8rem;
  font-family: "Kumbh Sans", sans-serif;
}

img {
  max-width: 100%;
  display: block;
}

/* NAVIGATION SECTION */
.header {
  border-bottom: 1px solid var(--Grayish-blue);
  padding-block: 1.5rem;
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu-btn {
  padding: 1rem 1rem 0.5rem 0rem;
  cursor: pointer;
  display: none;
  z-index: 1;
}

.nav-logo {
  font-size: 2rem;
  font-weight: 1000;
}

.nav-list {
  display: flex;
  gap: 0.5rem;
  font-size: 0.9rem;
  margin-right: auto;
  padding-top: 0.5rem;
  padding-left: 2.5rem;
}

.nav-list-link {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-list-link a {
  color: var(--Dark-grayish-blue);
  text-decoration: none;
  position: relative;
}

.nav-list-link a::before {
  content: "";
  position: absolute;
  background-color: var(--Orange);
  height: 2px;
  top: 3.25rem;
}

.nav-list-link a:hover::before {
  width: 100%;
}

.nav-cart-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.cart-icon {
  cursor: pointer;
}

.cart-card {
  position: absolute;
  top: 90%;
  right: -5%;
  background-color: var(--White);
  border-radius: 5px;
  box-shadow: 0 8px 15px 1px rgba(63, 57, 57, 0.171);
  max-width: 20rem;
  height: auto;
  transform: translateY(-1rem);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out,
    transform 0.2s ease-in-out;
}

.cart-card.display {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

.cart-name {
  padding: 1.5rem;
}

.cart-container {
  gap: 1rem;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.cart-container.disappear {
  display: none;
}

.cart-container.appear {
  display: flex;
}

.cart-empty {
  padding: 3rem;
}

#cart-img {
  width: 50px;
  border-radius: 5px;
}

.cart-item-price-money {
  font-weight: 1000;
}

.checkout {
  width: 90%;
  color: var(--White);
  background-color: var(--Orange);
  border: none;
  border-radius: 10px;
  padding: 1rem;
  margin-inline: 1rem;
  margin-block-end: 1.5rem;
}
.profile-pic {
  width: 50px;
}

/* PRODUCT SECTION */
/* Image Styling */
.product-section {
  margin: 3rem auto;

  display: flex;
  justify-content: space-between;
  gap: 3rem;
  max-width: 800px;
}

.product-pics {
  max-width: 50%;
}

.product-main-pic {
  position: relative;
}

.product-pic-left-btn {
  position: absolute;
  top: 50%;
  left: 5%;
  padding: 0.5rem 0.7rem 0.5rem 0.5rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--White);
  display: none;
}

.product-pic-right-btn {
  position: absolute;
  top: 50%;
  right: 5%;
  padding: 0.5rem 0.5rem 0.5rem 0.7rem;
  cursor: pointer;
  border-radius: 50%;
  background-color: var(--White);
  display: none;
}

#main-pic {
  border-radius: 10px;
}

.product-thumnail-pic {
  display: flex;
  gap: 2rem;
  margin-block: 1.5rem;
}

.product-info {
  padding-inline: 1rem;
}

.thumnail-pic {
  cursor: pointer;
  position: relative;
}

.thumnail-pic::before {
  contain: "";
  position: absolute;
  inset: 0;
  background-color: black;
  width: 300px;
  height: 300px;
  z-index: 1;
}

.thumnail-pic img {
  border-radius: 10px;
}

/* Information Styling */
.product-info {
  padding-block: 3rem;
}

.product-company {
  font-size: 0.8rem;
  color: var(--Orange);
}

.product-name {
  width: 20ch;
  font-weight: 1200;
  padding-block: 1rem;
}

.product-text {
  color: var(--Dark-grayish-blue);
  width: 50ch;
}

.product-pricing {
  padding-block: 2rem;
}

.product-currect-price {
  padding-block-end: 0.4rem;
  word-spacing: 0.5rem;
}

.product-discout-precentage {
  color: var(--Orange);
  font-size: 0.8rem;
  padding: 0.2rem;
  background-color: var(--Light-grayish-blue);
}

.product-previous-price {
  color: var(--Dark-grayish-blue);
  font-size: 0.8rem;
  font-weight: bolder;
  text-decoration-line: line-through;
}

.produc-cart-calculation-container {
  display: flex;
  max-width: 100%;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
}

.product-calculation {
  display: flex;
  justify-content: space-between;
  width: 40%;
  background-color: var(--Light-grayish-blue);
  padding: 1rem;
  border-radius: 10px;
}

.btn {
  color: var(--Pale-orange);
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.product-cart-btn {
  width: 80%;

  display: inline-flex;
  justify-content: center;
  gap: 1rem;
  cursor: pointer;
  align-items: center;
  color: var(--White);
  background-color: var(--Orange);
  padding: 1rem;
  border: none;
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 876px) {
  body {
    margin-inline: 0;
  }

  .header {
    border: none;
    padding-inline: 1rem;
  }

  .nav-logo {
    margin-right: auto;
  }

  .nav-menu-btn {
    display: block;
  }

  .nav-list {
    position: absolute;
    top: 0;
    left: 0;
    flex-direction: column;
    width: 40%;
    background-color: var(--White);
    font-weight: bolder;
    color: var(--Very-dark-blue);
    padding: 7rem 1rem;
    gap: 1rem;
    visibility: hidden;
    transform: translateX(-6rem);
    transition: transform 0.2s ease-in-out, visibility 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }

  .active {
    transform: translateX(0);
    visibility: visible;
    opacity: 1;
  }

  .cart-card {
    top: 110%;
    left: 2%;
    max-width: 96%;
  }

  .product-section {
    flex-direction: column;
    margin: 0;
    max-width: 100%;
  }

  #main-pic {
    border-radius: 0;
  }

  .product-pic-left-btn,
  .product-pic-right-btn {
    display: block;
  }
  .product-pics {
    max-width: 100%;
  }

  .product-thumnail-pic {
    display: none;
  }

  .product-info {
    padding-block: 0;
    padding-inline: 1.5rem;
    padding-bottom: 2rem;
  }
  .produc-cart-calculation-container {
    flex-direction: column;
  }

  .product-text {
    width: 100%;
  }

  .product-pricing {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .product-calculation {
    width: 100%;
  }

  .product-cart-btn {
    width: 100%;
  }
}
